* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #282828;  
  text-rendering: optimizeLegibility;
  line-height: 1;
}

.container_row  {
  display: flex;
  flex-direction: row;
}

.container_col {
  display: flex;
  flex-direction: column;
}

a:hover {
  color: rgb(97, 97, 97);
}

header {
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 85px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 70px;
  background-color: #1ebea5;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

a {
  color: white;
  text-decoration:none;
}

.aa {
  color: #1cb39b;
}

.header_left {
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

#icon-language {
  fill:#FFFFFF;
  padding-right: 5px;
}

img {
  vertical-align: middle;
}

.header_logo {
  width: 140px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-image: url("https://www-cdn.whatsapp.net/img/v4/whatsapp-logo.svg?v=bfe2fe6");
  background-size: contain;     
}

.header_nav {
  flex-grow: 2;
  padding-left: 50px;
}

.liste {
  text-transform: uppercase;
  justify-content: space-around;
  flex-grow: 2;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 50px;
}

.list_item, .li_1 {
  list-style: none;
}

.li_1 {
  padding-bottom: 20px;
}

.section_1 {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 66px;
  padding-left: 250px;
  padding-right: 250px;
}

.bloc1 {
  padding-top: 20px;
}

.bloc1_title {
  font-size: 33px;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 24px;
}

.bloc1_descrp{
  font-size: 16px;
  line-height: 26px;
  opacity: .78;
  margin-bottom: 12px;
  padding-right: 40px;
}

.bloc1_sous {
  font-size: 12px;
  line-height: 18px;
  opacity: .3;
  margin-bottom: 24px;
  padding-right: 40px;
}

.phone_img {
  background-image: url("home-phone.png");
  width: 318px;
  height: 599px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 40px;
  }

  .section_2 {
    justify-content: center;
    align-items: center;
  }

  .bloc2 {
    background-color: #D0E9EA;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-right: 10px;
  }
  .appels {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: .15em;
    margin-bottom: 7px;
    color: rgba(0,0,0,0.5);
  }
  .parler {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: .05em;
    margin-bottom: 25px;
}
  .bloc2_text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
  }

  sup {
    opacity: .8;
  }

  .bloc2_img {
    background-size: auto 320px;
    height: 320px;
    background-image: url("feature-3.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
  }

  .bloc2_2 {
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: 50%;
    background-color: #EDF8F5;
    text-align: center;
    margin-left: 10px;
  }

  .cercle {
      width: 272px;
      height: 272px;
      border-radius: 50%;
      background-color: #CFF2E0;
      background-image: url("anim.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;     
      margin-bottom: 30px;
  }

  .chiff {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: .15em;
    margin-bottom: 7px;
    color: rgba(0,0,0,0.5);
  }

  .secu {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: .05em;
    margin-bottom: 25px;
  }

  .text2 {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 20px;
  }

  .decouvre {
    padding-top: 84px;
    padding-bottom: 84px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .button {
    color: #1cb39b;
    border: 2px solid #77D7C8;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.071em;
    padding: 23px 46px;
    border-radius: 40px;
    font-weight: 500;
  }

  footer {
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  .bloc1_footer {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    justify-content: space-around;
    background-color: #273443;
    width: 100%;
  }
  
  .block__title {
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .ll {
    list-style-type: none;
    line-height: normal;
  }

  .list_item_footer {
    margin-bottom: 6px;
  }

  .footer_fin {
    background-color: #232f3c;
    padding: 23px 0;
    align-content: space-around;
    align-items: center;
    width: 100%;
  }

  .copy_r {
    width: 20%;
    padding-left: 100px;
  }
  